[submodule "protobufs"]
	path = protobufs
	url = https://github.com/MichaelCasas/sociallie-protobufs.git
[submodule "web"]
	path = web
	url = https://github.com/MichaelCasas/sociallie-web.git
[submodule "user-service"]
	path = user-service
	url = ./user-service
